@media (min-width:320px) and (max-width: 575px){
    #banner .overlay h1 {
        font-weight: 700;
        font-size: 45px;
        color: #FAFAFE;
        margin-bottom: 20px;
        width: 100%;
    }
    /* Testimonial */
    #test .testbar {
        display: none;
    }

    /* Choose */
    .chooseimg{
        width: 100%;
    }

    #choose ul{
        width: fit-content;
    }

    #choose .mainoptions {
        position: absolute;
        top: 121px;
        left: 1px;
        width: 100%;
        gap: 100px;
    }

    #choose h2 {
        font-family: "Open Sans", serif;
        font-size: 48px;
        font-weight: 700;
        width: 100%;
    }

    #choose .rightpara {
        font-family: "Paprika", serif;
        padding-top: 9px;
        width: 100%;
    }

    /* What we do */
    #whatwedo {
        margin-top: 744px;
    }

    #whatwedo .cardserv {
        width: 100%;
        border-radius: 20px;
    }

    #whatwedo .cardserv h3 {
        font-family: "Open Sans", serif;
        font-weight: 700;
        font-size: 30px;
        width: 100%;
    }

    #whatwedo .cardserv p {
        font-family: "Paprika", serif;
        font-size: 18px;
        font-weight: 400;
        width: 100%;
        padding-left: 50px;
    }

    /* Impact */
    #impact .impacthead p {
        font-family: "Paprika", serif;
        width: 100%;
        margin-top: 23px;
       margin-left: 0;
    }

    #impact .impactshape {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 100%;
    }

    #impact .impactleftpara {
        font-family: "Paprika", serif;
        width: 100%;
        padding-left: 0;
    }

    #impact .impactimgcomp{
        width: 100%;
    }

    /* Plan */
    #plan .cardb:hover .imageclass {
        margin-left: -17px;
        width: 100%;
        margin-right: 10px;
        background-color: #8981D1;
    }

    #plan .cardb .imageclass {
        margin-left: -17px;
        width: 100%;
        margin-right: 10px;
        
    }
    /* What the people thinks */
    /* #whatthepeople{
        display: none;
    } */

    #whatthepeople .slidebig{
        scale: 0.7;
        position: relative;
    }

    #whatthepeople .boxslide {
        margin-top: 0;
        margin-left: 0;
        width: auto;
    }

    #whatthepeople p {
        width: auto;
        
        font-weight: 300;
        font-size: 19px;
        padding-top: 33px;
        margin-left: 43px;
    }

    #whatthepeople img {
        scale: 1;
        padding-left: 0;
        width: auto;
    }

    #whatthepeople .stars {
        
        padding-left: 93px;
        
       
    }

    #whatthepeople .boxslide h2 {
       
        width: auto;
    }

  

    #whatthepeople .boxslide h3 {
        
        padding-left: 72px;
        width: auto;
        
    }

    /* #whatthepeople .previousbutton{
        margin-right: 0px;
        
        height: 64px;
        width: 64px;
        border-radius: 50%; */

        #whatthepeople .previousbutton {
            
            
            height: 10px;
            width: 10px;
            
            scale: 9;
           
        }

        #whatthepeople .nextbutton {
            
            
            height: 10px;
            width: 10px;
            
            scale: 9;
           
        }

        #whatthepeople .previousbutton .leftarrow {
            padding-top: 0;
            scale: 0.5;
            transform: translateY(-16px);
            font-size: 14px;
            width: auto;
        }

        #whatthepeople .nextbutton .rightarrow {
            margin-top: -14px;
            margin-left: 0px;
            scale: 0.5;
            transform: translateY(-18px);
            font-size: 17px;
            width: auto;
        }

    /* You may also like */
    #youmaylike .likecards {
        flex-direction: column;
    }

    #youmaylike .rightpart ul {
        
        padding-left: 0px;
      
    }

    #youmaylike .rightpart h3 {
        width: auto;
        margin-left: 0px;
        margin-top: 16px;
        font-weight: 600;
        
        font-size: 27px;
    }

    #youmaylike .rightpart button {
        margin-left: 70px;
        margin-top: 16px;
        
        color: #141135;
       
    }

    #youmaylike .rightpart .button2 {
        margin-left: 70px;
        margin-top: 16px;
        
       
       
    }

    #youmaylike .rightpart .button3 {
        margin-left: 70px;
        margin-top: 16px;
        
        
       
    }

    #youmaylike .rightpart::after {
        
        
        right: 40%;
        top: 22%;
        
    }

    #youmaylike .secondpart::after {
        
        
        right: 40%;
        top: 85%;
        
    }

    #youmaylike .button3::after {
        
        
        right: 40%;
        top: 61%;
        
    }

    #youmaylike .leftpart ul {
        
        display: flex ;
        flex-direction: column;
        gap: 60px;
        margin: 0;
        padding: 0;
    }

    #youmaylike .leftpart ul li {
        
        width: auto;
        
    }
    

    /* Footer */

    footer p {
        width: 100%;
        padding-top: 44px;
    }

}

@media (min-width:576px) and (max-width: 767px){

    

    /* Whatthepeople */

    #whatthepeople .slidebig{
        width: auto;
    }

    #whatthepeople p {
        width: auto;
       
        margin-left: 0px;
    }

    #whatthepeople img {
        scale: 0.5;
        padding-left: 166px;
    }

    #whatthepeople .stars {
        
        padding-left: 193px;
        
    }

    #whatthepeople .previousbutton {
            
            
        height: 10px;
        width: 10px;
        
        scale: 9;
       
    }

    #whatthepeople .nextbutton {
        
        
        height: 10px;
        width: 10px;
        
        scale: 9;
       
    }

    #whatthepeople .previousbutton .leftarrow {
        
        padding-top: 0;
        font-size: 5px;
        width: fit-content;
        transform: translateY(-11px);
    }

    #whatthepeople .nextbutton .rightarrow {
        margin-top: 0;
        width: fit-content;
        font-size: 4px;
        transform: translateY(-23px);
    }

    #whatthepeople .boxslide {
        
        width: auto;
        
    }
    /* Whatwedo */

    #whatwedo h2 {
        
        width: auto;
    }

    /* Choose */

    #choose .mainoptions {
        
        left: 0px;
        width: auto;
        
    }

    /* Impact */

    #impact .impactimgcomp{
        width: 100%;
    }

    #impact .impacthead p {
        
        width: auto;
        
        margin-left: 0;
    }

     /* You may also like */
     #youmaylike .likecards {
        flex-direction: column;
    }

    #youmaylike .rightpart ul {
        
        padding-left: 0px;
      
    }

    #youmaylike .rightpart h3 {
        width: auto;
        margin-left: 0px;
        margin-top: 16px;
        font-weight: 600;
        
        font-size: 27px;
    }

    #youmaylike .rightpart button {
        margin-left: 70px;
        margin-top: 16px;
        
        color: #141135;
       
    }

    #youmaylike .rightpart .button2 {
        margin-left: 70px;
        margin-top: 16px;
        
       
       
    }

    #youmaylike .rightpart .button3 {
        margin-left: 70px;
        margin-top: 16px;
        
        
       
    }

    #youmaylike .rightpart::after {
        right: 67%;
        top: 18%;
    }

    #youmaylike .secondpart::after {
        
        
        right: 67%;
        top: 78%;
        
    }

    #youmaylike .button3::after {
        
        
        right: 67%;
        top: 49%;
        
    }

    #youmaylike .leftpart ul {
        
        display: flex ;
        flex-direction: column;
        gap: 60px;
        margin: 0;
        padding: 0;
    }

    #youmaylike .leftpart ul li {
        
        width: auto;
        
    }
}

@media (min-width:768px) and (max-width: 991px){

    /* Plan */

    #plan .cardb .imageclass {
        
        width: 744px;
        
    }


    #plan .cardb:hover .imageclass {
        
        width: 744px;
        
    }
    
    /* You may like */
    #youmaylike .likecards {
        flex-direction: column;
    }

    #youmaylike .rightpart ul {
        
        padding-left: 0;
        width: auto;
        
    }

    #youmaylike .rightpart h3 {
        
        margin-left: 0;
        width: auto;
    }

    /* Impact */
    #impact .impacthead h2 {
        text-align: left;
        width: auto;
    }

    #impact .impacthead p {
        
        text-align: left;
        
        margin-left: 0;
        width: auto;
    }

    /* Choose */
    #choose .mainoptions {
        
        width: auto;
        
    }

    #choose ul .one:hover {
        
        width: auto;
        
    }

    #choose .rightpartcol {
       
        margin-left: -209px;
    }

    /* What we do */
    #whatwedo {
        margin-top: 556px;
    }

    #whatwedo h2 {
        margin-left: 18px;
        width: auto;
    }

    /* What the people think */
    #whatthepeople img {
        padding-left: 238px;
    }

    #whatthepeople .stars {
     
        padding-left: 249px;
        
    }

    #whatthepeople p {
        width: 567px;
        
        font-size: 13px;
        
        margin-left: 48px;
    }

    #whatthepeople .boxslide h2 {
        margin-left: -36%;
        width: auto;
    }

    #whatthepeople .boxslide h3 {
        
        padding-left: 23%;
        
    }

    #whatthepeople .boxslide {
       
        width: auto;
        
    }

    /* Test */
    #test .testbar3 {
        display: none;
        
    }

    #test .testbar2 {
        display: none;
        
    }

    #test .testbar {
        display: none;
        
    }
    
    
}