body {
  font-family: "Open Sans", serif;
}

.container {
  max-width: 1170px;
}

a {
  text-decoration: none;
}

header {
  position: absolute;
  width: 100%;
  z-index: 999;
}
header nav {
  background: rgba(22, 12, 109, 0.5);
  padding: 18px 0 !important;
}
header nav ul {
  gap: 42px;
}
header nav ul li a {
  font-size: 18px;
  font-weight: 600;
  color: #EFF4FA;
  font-family: "Open Sans", serif;
  transition: 0.4s;
}
header nav ul li a:hover {
  color: #1BBF00;
}
header nav button {
  background: #1BBF00;
  font-size: 18px;
  border: none;
  line-height: 200%;
  border-radius: 100px;
  font-weight: 600;
  color: #FFFFFF;
  padding: 14px 28px;
  text-transform: capitalize;
  border: 1px solid transparent;
}

#banner {
  background: url(./images/bannerimage.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}
#banner .Shapeone {
  position: absolute;
  top: 304px;
  left: 31px;
}
#banner .Shapetwo {
  position: absolute;
  right: 310px;
  bottom: 73px;
}
#banner .overlay {
  width: 100%;
  height: 100%;
  background: rgba(107, 98, 197, 0.8);
  padding-top: 246px;
  padding-bottom: 254px;
}
#banner .overlay h1 {
  font-weight: 700;
  font-size: 84px;
  color: #FAFAFE;
  margin-bottom: 20px;
}
#banner .overlay h2 {
  font-size: 24px;
  font-weight: 400;
  line-height: 40px;
  font-family: "Paprika", serif;
  color: #E6E5F3;
  max-width: 715px;
  margin: 0 auto;
}
#banner .overlay button {
  margin-top: 16px;
  background: #1BBF00;
  font-size: 18px;
  border: none;
  line-height: 200%;
  border-radius: 100px;
  font-weight: 600;
  color: #FFFFFF;
  padding: 14px 28px;
  text-transform: capitalize;
  border: 1px solid transparent;
}
#banner .overlay button:hover {
  background: transparent;
  border: 1px solid #1BBF00;
}

#test {
  padding: 10px;
  width: 100%;
  background: #F9F9FB;
  position: relative;
  padding-bottom: 282px;
}
#test .testimg {
  position: absolute;
  top: 0;
  right: 0;
  color: #EDE6F7;
}
#test .testrow {
  padding-top: 283px;
  padding-left: 30px;
}
#test .columntest {
  position: relative;
}
#test h2 {
  font-size: 64px;
  font-weight: 800;
  font-family: "Open Sans", serif;
  color: #1BBF00;
}
#test p {
  font-family: "Open Sans", serif;
  text-transform: capitalize;
  color: #141135;
  font-size: 30px;
  font-weight: 500;
}
#test .testbar {
  height: 132px;
  width: 2px;
  position: absolute;
  background-color: #4F585F;
  right: 40px;
  top: 10px;
}
#test .testbar2 {
  height: 132px;
  width: 2px;
  position: absolute;
  background-color: #4F585F;
  right: 700px;
  top: 300px;
}
#test .testbar3 {
  height: 132px;
  width: 2px;
  position: absolute;
  background-color: #4F585F;
  right: 428px;
  top: 300px;
}

#choose {
  position: relative;
}
#choose .mainoptions {
  position: absolute;
  top: 121px;
  left: 239px;
  width: 1122px;
  gap: 100px;
}
#choose .rightpartcol {
  width: -moz-fit-content;
  width: fit-content;
}
#choose ul {
  list-style: none;
}
#choose ul li {
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  font-family: "Paprika", serif;
  gap: 20px;
}
#choose ul .one:hover {
  padding-top: 72px;
  width: 568px;
  height: 144px;
  border-radius: 12px;
  box-shadow: 10px 10px 36px -6px rgba(0, 0, 0, 0.75);
}
#choose h2 {
  font-family: "Open Sans", serif;
  font-size: 48px;
  font-weight: 700;
  width: 365px;
}
#choose .rightpara {
  font-family: "Paprika", serif;
  padding-top: 9px;
  width: 393px;
}
#choose button {
  background: #1BBF00;
  font-size: 18px;
  border: none;
  line-height: 200%;
  border-radius: 100px;
  font-weight: 600;
  color: #FFFFFF;
  padding: 14px 28px;
  text-transform: capitalize;
  border: 1px solid transparent;
  margin-top: 41px;
}

#whatwedo {
  margin-top: 300px;
}
#whatwedo h2 {
  font-family: "Open Sans", serif;
  font-weight: 700;
  font-size: 48px;
}
#whatwedo p {
  font-family: "Open Sans", serif;
  font-weight: 400;
  font-size: 18px;
}
#whatwedo .whatwedobutton {
  background: #1BBF00;
  font-size: 18px;
  border: none;
  line-height: 200%;
  border-radius: 100px;
  font-weight: 600;
  color: #FFFFFF;
  padding: 14px 28px;
  text-transform: capitalize;
  border: 1px solid transparent;
}
#whatwedo .cardserv {
  width: 370px;
  border-radius: 20px;
}
#whatwedo .cardserv:hover {
  background-color: #6B62C5;
  color: white;
}
#whatwedo .cardserv:hover button {
  color: white;
  background-color: #6B62C5;
}
#whatwedo .cardserv:hover::after {
  background-color: #9791D6;
  opacity: 0.5;
}
#whatwedo .cardserv .cardbody {
  text-align: center;
}
#whatwedo .cardserv .wdimg {
  scale: 0.2;
  align-items: center;
}
#whatwedo .cardserv h3 {
  font-family: "Open Sans", serif;
  font-weight: 700;
  font-size: 30px;
  width: 373px;
}
#whatwedo .cardserv p {
  font-family: "Paprika", serif;
  font-size: 18px;
  font-weight: 400;
  width: 312px;
  padding-left: 50px;
}
#whatwedo .cardserv button {
  width: 108px;
  height: 40px;
  color: #141135;
  border-radius: 20px;
  position: relative;
  border: none;
}
#whatwedo .cardserv::after {
  position: absolute;
  content: "";
  background: rgba(27, 191, 0, 0.3);
  width: 27px;
  height: 40px;
  right: 130px;
  top: 526px;
  border-radius: 0 100px 100px 0;
}

#impact {
  max-width: 2026px;
  margin-top: 109px;
  height: 1078px;
  position: relative;
}
#impact .impacthead {
  text-align: center;
}
#impact .impacthead h2 {
  font-family: "Open Sans", serif;
  font-size: 48px;
  font-weight: 700;
}
#impact .impacthead p {
  font-family: "Paprika", serif;
  width: 558px;
  margin-top: 23px;
  margin-left: 270px;
}
#impact .impactrow {
  margin-top: 75px;
}
#impact .impactleft {
  display: flex;
  gap: 35px;
}
#impact .impactleft h3 {
  font-family: "Open Sans", serif;
  font-weight: 700;
  font-size: 30px;
}
#impact .impactleftpara {
  font-family: "Paprika", serif;
  width: 365px;
  padding-left: 103px;
}
#impact .impactshape {
  position: absolute;
  bottom: 0;
  right: 0;
}

#plan .planhead {
  text-align: center;
}
#plan .planhead h2 {
  font-family: "Open Sans", serif;
  font-weight: 700;
  font-size: 48px;
}
#plan h3 {
  text-align: center;
  color: #1BBF00;
  font-size: 48px;
  font-weight: 800;
}
#plan h3 sup {
  font-weight: 700;
}
#plan h5 {
  font-family: "Open Sans", serif;
  font-weight: 700;
  font-size: 30px;
  text-align: center;
}
#plan ul {
  list-style: none;
  font-family: "Paprika", serif;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
}
#plan .cardb {
  margin-top: 64px;
  border-radius: 20px;
  position: relative;
}
#plan .cardb:hover {
  background-color: #6B62C5;
}
#plan .cardb:hover .imagedclass {
  width: 370px;
  margin-right: 10px;
  background-color: #8981D1;
}

#whatthepeople h2 {
  text-align: center;
  margin-top: 100px;
  font-family: "Open Sans", serif;
  font-weight: 700;
  color: #141135;
  font-size: 48px;
}
#whatthepeople img {
  scale: 0.5;
}

#youmaylike {
  margin-top: 100px;
}
#youmaylike h2 {
  text-align: left;
  font-size: 50px;
  font-weight: 700;
  font-family: "Open Sans", serif;
}
#youmaylike .likecards {
  display: flex;
}
#youmaylike .leftpart ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 60px;
}
#youmaylike .leftpart ul li {
  background-color: #C4C4C4;
  height: 220px;
  width: 379px;
  border-radius: 15px;
  background-color: #C4C4C4;
}
#youmaylike .rightpart {
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
}
#youmaylike .rightpart ul {
  display: flex;
  list-style: none;
  padding-left: 130px;
  gap: 20px;
}
#youmaylike .rightpart ul li:hover {
  color: #1BBF00;
}
#youmaylike .rightpart h3 {
  width: 504px;
  margin-left: 130px;
  margin-top: 16px;
  font-weight: 700;
  font-family: "Open Sans", serif;
  color: #141135;
  font-size: 30px;
}
#youmaylike .rightpart button {
  margin-left: 130px;
  margin-top: 16px;
  width: 108px;
  height: 40px;
  color: #141135;
  border-radius: 20px;
  border: none;
}
#youmaylike .rightpart::after {
  position: absolute;
  content: "";
  background: rgba(27, 191, 0, 0.3);
  width: 27px;
  height: 40px;
  right: 396px;
  top: 173px;
  border-radius: 0 100px 100px 0;
}
#youmaylike .secondpart {
  margin-top: 60px;
  position: relative;
}
#youmaylike .secondpart .button2 {
  margin-left: 130px;
  margin-top: 16px;
  width: 108px;
  height: 40px;
  color: #141135;
  border-radius: 20px;
  border: none;
}
#youmaylike .secondpart::after {
  position: absolute;
  content: "";
  background: rgba(27, 191, 0, 0.3);
  width: 27px;
  height: 40px;
  right: 396px;
  top: 173px;
  border-radius: 0 100px 100px 0;
}
#youmaylike .thirdpart {
  margin-top: 60px;
  position: relative;
}
#youmaylike .button3 {
  margin-left: 130px;
  margin-top: 16px;
  width: 108px;
  height: 40px;
  color: #141135;
  border-radius: 20px;
  margin-bottom: 100px;
  border: none;
}
#youmaylike .button3::after {
  position: absolute;
  content: "";
  background: rgba(27, 191, 0, 0.3);
  width: 27px;
  height: 40px;
  right: 396px;
  top: 173px;
  border-radius: 0 100px 100px 0;
}

footer {
  font-family: "Nunito", serif;
  color: white;
  width: auto;
  background-color: #48409C;
  padding-top: 100px;
}
footer p {
  width: 449px;
  padding-top: 44px;
}
footer ul {
  list-style: none;
}
footer ul li {
  margin-top: 20px;
}

#footerattributes {
  padding-top: 80px;
  background-color: #48409C;
  font-family: "Nunito", serif;
  color: white;
  font-weight: 400;
  font-size: 18px;
}/*# sourceMappingURL=style.css.map */