#youmaylike{
    margin-top: 100px;
    h2{
        text-align: left;
        font-size: 50px;
        font-weight: 700;
        font-family: $f1;
    }
    .likecards{
        display: flex;
    }
    .leftpart{
        ul{
            list-style: none;
            display: flex;
            flex-direction: column;
            gap: 60px;
            li{
                background-color: #C4C4C4;
                height: 220px;
                width: 379px;
                border-radius: 15px;
                background-color: #C4C4C4;

            }
        }
    }

    .rightpart{
        
        width: fit-content;
        position: relative;
        
        
        ul{
            display: flex;
            list-style: none;
            padding-left: 130px;
            gap: 20px;
            li:hover{
                color: #1BBF00;
            }
        }
        h3{
            width: 504px;
            margin-left: 130px;
            margin-top: 16px;
            font-weight: 700;
            font-family: $f1;
            color: #141135;
            font-size: 30px;
        }
        button{
            margin-left: 130px;
            margin-top: 16px;
            width: 108px;
            height: 40px;
            color: #141135;
            border-radius: 20px;
            
            border: none;

        }

        &::after{
            position: absolute;
    content: "";
    background: rgba(27, 191, 0, 0.3);
    width: 27px;
    height: 40px;
    right: 62%;
    top: 20%;
    border-radius: 0 100px 100px 0;
        }
    }

    .secondpart{
        margin-top: 60px;
        position: relative;

    .button2{
        margin-left: 130px;
        margin-top: 16px;
        width: 108px;
        height: 40px;
        color: #141135;
        border-radius: 20px;
        
        border: none;

    }

    &::after{
        position: absolute;
content: "";
background: rgba(27, 191, 0, 0.3);
width: 27px;
height: 40px;
right: 62%;
top: 81%;
border-radius: 0 100px 100px 0;
    }
    }
    .thirdpart{
        margin-top: 60px;
        position: relative;
    }

    .button3{
        margin-left: 130px;
        margin-top: 16px;
        width: 108px;
        height: 40px;
        color: #141135;
        border-radius: 20px;
        margin-bottom: 100px;
        
        border: none;

        &::after{
            position: absolute;
    content: "";
    background: rgba(27, 191, 0, 0.3);
    width: 27px;
    height: 40px;
    right: 62%;
    top: 55%;
    border-radius: 0 100px 100px 0;
        }

    }

   
}